<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOI BAN DANG NHAP</title>
</head>
<body>
    <main><%- body %></main>
</body>
<style>
    html{
        height: 100%;
    }
 body {
    background-image: url("https://venturebeat.com/wp-content/uploads/2021/09/virtual_reality.jpg?fit=3840%2C2160&strip=all");
    background-size: 100rem;
    padding-top: 5%;
    
 }

</style>
</html>